[submodule "dependency/DepthCrafter"]
	path = dependency/DepthCrafter
	url = https://github.com/Tencent/DepthCrafter
[submodule "dependency/Forward-Warp"]
	path = dependency/Forward-Warp
	url = https://github.com/wbhu/Forward-Warp.git
[submodule "dependency/Video-Depth-Anything"]
	path = dependency/Video-Depth-Anything
	url = https://github.com/DepthAnything/Video-Depth-Anything.git
